#Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup.
#Любые символы можно заменить символом звёздочка *.
#Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.

Thumbs.db
*.DS_Store
tmp/
*.old
*.backup
*index.html_old
